<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Latin name:</strong>
  <%= @animal.latin_name %>
</p>

<p>
  <strong>Kingdom:</strong>
  <%= @animal.kingdom %>
</p>

<input type='hidden' value='<%=@animal.id%>' id="animal_id"/>

<%= link_to 'Edit', edit_animal_path(@animal) %> |
<%= link_to 'Back', animals_path %>

<div>
  <%= select_date Date.today, prefix: :start_date %>
  <%= select_time Time.now, prefix: :start_time %>
</div>


<table class="table">
  <thead>
    <th>Date</th>
    <th>Time</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </thead>
  <tbody id="sightings_list">
    <% @animal.sightings.each do |sighting| %>
      <tr>
        <td><%= sighting.date %></td>
        <td><%= sighting.time.strftime("%I:%M%p") %></td>
        <td><%= sighting.latitude %></td>
        <td><%= sighting.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="animal_calendar"></div>
